html,
body,
#app {
  height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  border-color: hsl(var(--border));
}

.dark * {
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}

.iconify {
  width: 1.25em;
  height: 1.25em;
}
