html {
  --scrollbar-color-light: rgba(0, 0, 0, 0.5);
  --scrollbar-color-dark: rgba(255, 255, 255, 0.5);
  --scrollbar-size: 8px;
  --scrollbar-color: var(--scrollbar-color-light);
}

html.dark {
  --scrollbar-color: var(--scrollbar-color-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

/* for safari */
.dark * {
  color-scheme: dark;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  background: var(--shiki-light-bg);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
  background: var(--shiki-dark-bg);
}

.table-code-btn-primary {
  @apply inline bg-primary/10 rounded-md text-primary font-bold text-center px-2.5 py-1.5 text-nowrap;
}

.table-code-btn-outline {
  @apply inline border-gray-200 border-1 px-2 py-1 rounded-md font-mono text-sm;
  box-decoration-break: clone;
}
