html {
  --scrollbar-color-light: rgba(0, 0, 0, 0.5);
  --scrollbar-color-dark: rgba(255, 255, 255, 0.5);
  --scrollbar-size: 8px;
  --scrollbar-color: var(--scrollbar-color-light);
}

html.dark {
  --scrollbar-color: var(--scrollbar-color-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

/* for safari */
.dark * {
  color-scheme: dark;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  background: var(--shiki-light-bg);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
  background: var(--shiki-dark-bg);
}

.markdown-wrapper {
  --uno: 'md:max-w-270 m-auto text-base text-left';

  > h1 {
    --uno: mb-8 text-4xl font-bold;
  }

  > h2 {
    --uno: mt-12 my-6 text-2xl font-bold;
  }

  > h3 {
    --uno: my-4 text-xl font-semibold;
  }

  > h4 {
    --uno: my-3 text-lg font-semibold;
  }

  > p {
    --uno: my-4 text-4 leading-7 text-muted-foreground;
  }

  > ul {
    --uno: list-disc list-inside my-5 pl-4 space-y-2;

    > li {
      --uno: 'marker:text-foreground/20';
    }
  }

  > ol {
    --uno: list-decimal list-inside my-5 pl-4 space-y-2;

    > li {
      --uno: 'marker:text-foreground/50';
    }
  }

  code {
    --uno: font-mono text-3.5 leading-6;
  }

  code:not(pre code) {
    --uno: px-2 py-0.5 font-semibold text-primary bg-accent rounded-md;
  }

  pre {
    --uno: my-6 px-4 py-3 text-sm rounded-lg;
  }

  a:not([data-link]) {
    --uno: 'text-info hover:underline underline-offset-4';
  }

  .md-code-block {
    --uno: relative my-6;
  }

  .md-code-block > pre {
    --uno: my-0;
  }

  table {
    --uno: w-full border-none text-sm;

    tr {
      --uno: 'm-0 border-b';
    }

    tr:not(thead tr) {
      --uno: 'last:border-b-none ';
    }

    th {
      --uno: px-4 p-2 text-left font-semibold;
    }

    td {
      --uno: px-4 p-2 text-left whitespace-nowrap;
    }
  }

  blockquote {
    --uno: border-l-4 border-primary border-opacity-50 pl-4 py-2 my-6;

    * {
      --uno: italic text-foreground text-opacity-50;
    }
  }

  .code-btn {
    --uno: 'inline px-2 py-1 text-accent-foreground bg-accent rounded-md font-semibold text-center text-nowrap';
  }

  .code-btn-outline {
    --uno: 'inline px-2 py-1 font-mono text-accent-foreground border border-accent-foreground/15 rounded-md text-nowrap';
    box-decoration-break: clone;
  }
}
