html {
  --scrollbar-color-light: rgba(0, 0, 0, 0.5);
  --scrollbar-color-dark: rgba(255, 255, 255, 0.5);
  --scrollbar-size: 8px;
  --scrollbar-color: var(--scrollbar-color-light);
}

html.dark {
  --scrollbar-color: var(--scrollbar-color-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

/* for safari */
.dark * {
  color-scheme: dark;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

*::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border-radius: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: hsl(var(--primary));
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  background: var(--shiki-light-bg);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
  background: var(--shiki-dark-bg);
}

.markdown-wrapper {
  --uno: 'md:max-w-270 m-auto text-base text-left';

  > h1 {
    --uno: text-4xl font-bold mb-8;
  }

  > h2 {
    --uno: text-2xl font-bold mt-12 my-6;
  }

  > h3 {
    --uno: text-xl font-semibold my-3;
  }

  > h4 {
    --uno: text-lg font-semibold my-2;
  }

  > p {
    --uno: text-4 leading-7 my-5;
  }

  > ul {
    --uno: list-disc list-inside my-5 pl-4 space-y-2;

    > li {
      --uno: 'marker:text-foreground/20';
    }
  }

  > ol {
    --uno: list-decimal list-inside my-5 pl-4 space-y-2;

    > li {
      --uno: 'marker:text-foreground/50';
    }
  }

  code {
    --uno: font-mono text-3.5 leading-6;
  }

  code:not(pre code) {
    --uno: px-2 py-0.5 font-semibold text-primary bg-accent rounded-md;
  }

  pre {
    --uno: my-6 px-4 py-3 text-sm rounded-lg;
  }

  table {
    --uno: w-full border-none text-sm;

    tr {
      --uno: 'm-0 border-b';
    }

    tr:not(thead tr) {
      --uno: 'last:border-b-none ';
    }

    th {
      --uno: px-4 p-2 text-left font-semibold;
    }

    td {
      --uno: px-4 p-2 text-left whitespace-nowrap;
    }

    .code-btn {
      --uno: 'inline px-2 py-1 text-accent-foreground bg-accent rounded-md font-semibold text-center text-nowrap';
    }

    .code-btn-outline {
      --uno: 'inline px-2 py-1 font-mono text-accent-foreground border border-accent-foreground/15 rounded-md text-nowrap';
      box-decoration-break: clone;
    }
  }
}
